pandas 
numpy 
seaborn 
matplotlib
plotly
itertools
re
os
jieba
pickle
warnings
streamlit 
stylecloud
time
gensim
string
logging
networkx 
collections 
sklearn
snownlp 
pyecharts 
IPython
streamlit_echarts